@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  background: #15151e;
  overflow-x: hidden;
}

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.race-item {
  flex-shrink: 0;
  margin-right: 2rem;
  height: 80vh;
  width: 60vw;
}

.race-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.race-item.last-race img {
  border: 4px solid #e1e1ff;
}

.lightBG {
  background: #313143;
}

.space-50vh {
  height: 50vh;
}

.space-100vh {
  height: 100vh;
}